.card-primary{
  background-color: #3af1f1d7;
  opacity: 1;
}
.biografia{
  font-family: 'Poppins', sans-serif;
  color: azure;
}

.title-bio {
    font-family: 'Gravitas One', serif;
    font-weight: 400; 
    color: #510087;
    font-size: 3rem; 
    margin-bottom: 1.5rem;
}
.entorn {
    background-color: #d5f4f4; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05); 
}

.btn.btn-morado {
    background-color: #6f42c1 ;
    color: #ffffff ;
    border: none ;
    display: inline-flex ; 
    align-items: center;
    justify-content: center;
}

.btn.btn-morado:hover {
    background-color: #510087 ;
    color: #ffffff ;
    transform: translateY(-2px);
}


.btn-morado span {
    color: #ffffff ;
}


.back-of-back {
    background-color: #004891; 
    min-height: 100vh; 
}



